/* RESET DE BASE */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
    color: #333;
    margin: 0;      /* Important pour que la nav touche les bords */
    padding: 0;
}

/* NAVIGATION BAR (PLEINE LARGEUR) */
nav {
    background-color: #2c3e50;
    text-align: center;
    padding: 15px 0;
    width: 100%;    /* Prend toute la largeur */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Petite ombre sympa */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.1em;
}

nav a:hover { text-decoration: underline; }

/* Pour Firefox */
html {
  scrollbar-width: none;
}

/* Pour Chrome, Safari, Edge et Opera */
html::-webkit-scrollbar {
  display: none;
}