/* RESET DE BASE */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
    color: #333;
    background-color: #e3e2e1;
    margin: 0;      /* Important pour que la nav touche les bords */
    padding: 0;
}

/* NAVIGATION BAR (PLEINE LARGEUR) */
nav {
    background-color: #2C5545;
    text-align: center;
    padding: 15px 0;
    width: 100%;    /* Prend toute la largeur */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Petite ombre sympa */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.1em;
}

nav a:hover { text-decoration: underline; }

/* Pour Firefox */
html {
  scrollbar-width: none;
}

/* Pour Chrome, Safari, Edge et Opera */
html::-webkit-scrollbar {
  display: none;
}

.footer {
    background-color: #2C5545; /* Bleu nuit sombre */
    padding: 10px 0 20px 0;
    color: #FFFFFF;
    margin-top: auto; /* IMPORTANT : permet de pousser le footer en bas */
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#footer-h3 {
    border-left: none;
    background-color: transparent;
}

.footer-text p {
    color: #FFFFFF;
    margin-bottom: 20px;
    font-size: 0.95rem;
}

/* Style des liens sociaux */
.social-links {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.social-links a {
    color: #cbd5e1;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Fond légèrement transparent */
    border-radius: 50%;
}

.social-links a:hover {
    color: white;
    background-color: #133b2c; /* Bleu au survol */
    transform: translateY(-3px); /* Petit saut vers le haut */
}

.footer-copyright {
    padding-top: 20px;
    width: 100%;
    font-size: 0.8rem;
    color: #FFFFFF;
}